.DS_Store
testing/*
scripts/Data/*
database/*
data/*
scripts/visualization/.ipynb_checkpoints
user_data/*
*~
# report/*
# !report/report.tex
# !report/chaps/spreading/spreading.tex
/report/report.aux
/report/report.fdb_latexmk
/report/report.fls
/report/report.synctex.gz
/report/report.xdv
/report/chaps/spreading/spreading.aux
/report/chaps/spreading/spreading.fdb_latexmk
/report/chaps/spreading/spreading.fls
/report/chaps/spreading/spreading.log
/sna.sublime-project
/sna.sublime-workspace
